<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>Tesina</display-name>
    <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddAnalisiServlet</display-name>
        <servlet-name>AddAnalisiServlet</servlet-name>
        <servlet-class>servletInsert.AddAnalisiServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddAzAgricolaServlet</display-name>
        <servlet-name>AddAzAgricolaServlet</servlet-name>
        <servlet-class>servletInsert.AddAzAgricolaServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddAzLiquamiServlet</display-name>
        <servlet-name>AddAzLiquamiServlet</servlet-name>
        <servlet-class>servletInsert.AddAzLiquamiServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddCampoServlet</display-name>
        <servlet-name>AddCampoServlet</servlet-name>
        <servlet-class>servletInsert.AddCampoServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddConcimazioneServlet</display-name>
        <servlet-name>AddConcimazioneServlet</servlet-name>
        <servlet-class>servletInsert.AddConcimazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddDesProdottoServlet</display-name>
        <servlet-name>AddDesProdottoServlet</servlet-name>
        <servlet-class>servletInsert.AddDesProdottoServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddDosaggioServlet</display-name>
        <servlet-name>AddDosaggioServlet</servlet-name>
        <servlet-class>servletInsert.AddDosaggioServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddLavorazioneServlet</display-name>
        <servlet-name>AddLavorazioneServlet</servlet-name>
        <servlet-class>servletInsert.AddLavorazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddMappaleServlet</display-name>
        <servlet-name>AddMappaleServlet</servlet-name>
        <servlet-class>servletInsert.AddMappaleServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddOrdineServlet</display-name>
        <servlet-name>AddOrdineServlet</servlet-name>
        <servlet-class>servletInsert.AddOrdineServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddPianificazioneServlet</display-name>
        <servlet-name>AddPianificazioneServlet</servlet-name>
        <servlet-class>servletInsert.AddPianificazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddProdottoServlet</display-name>
        <servlet-name>AddProdottoServlet</servlet-name>
        <servlet-class>servletInsert.AddProdottoServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddProprietarioServlet</display-name>
        <servlet-name>AddProprietarioServlet</servlet-name>
        <servlet-class>servletInsert.AddProprietarioServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddRaccoltoServlet</display-name>
        <servlet-name>AddRaccoltoServlet</servlet-name>
        <servlet-class>servletInsert.AddRaccoltoServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddSeminaServlet</display-name>
        <servlet-name>AddSeminaServlet</servlet-name>
        <servlet-class>servletInsert.AddSeminaServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddTitOrganicaServlet</display-name>
        <servlet-name>AddTitOrganicaServlet</servlet-name>
        <servlet-class>servletInsert.AddTitOrganicaServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>AddTrattamentoFitofarmacoServlet</display-name>
        <servlet-name>AddTrattamentoFitofarmacoServlet</servlet-name>
        <servlet-class>servletInsert.AddTrattamentoFitofarmacoServlet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>